@import './shadcn.css';
@import './typography.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #113561;
  --color-secondary: #1e98d4;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    @apply cursor-pointer transition-all hover:scale-[0.98];
  }

  .bg-cta-gradient {
    background: linear-gradient(92deg, var(--primary, #113561) -1.76%, var(--secondary, #1e98d4) 138.96%);
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--background);
  }

  .scrollbar-hide {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }
}
